<h1>Please enter your room's details in inches</h1>
<p>If you would like to add more than one room to your job, please just submit the room, and another form will appear.</p>
<p>When you are done adding rooms just hit cancel</p>

<form method="post" action = "/jobs/<%= @job.id %>/rooms">
    <input type ="number" name = "length" placeholder="length in inches"> x 

    <input type ="number" name = "width" placeholder="width in inches"> x 

    <input type ="number" name = "height" placeholder="height in inches">

    <input type="hidden" name = "job_id" value="<%= @job.id %>">
    <p>
    <input type="submit" name="submit" value="Add Room">
    </p>
</form>
<form method="get" action="/jobs/<%= @job.id %>">
    <input type="submit" name="submit" value="View Job">
</form>
<h3>Current Rooms:<h3>
<% if @job.rooms != []%>
<% @job.rooms.each_with_index do |room, index|%>
    <p>Room <%= index+1 %>:</p>
    <p> <%= room.length %> inches x <%= room.width %> inches x <%= room.height %> inches </p>
<% end %>
<% else %>
    <h5>No rooms have been added</h5>
    <h5>Please enter dimensions above</h5>
<% end %>