<div class="job-wrapper">
</br>
<h1> Room:</h1>
<form method="post" action = "/jobs/<%= @job.id %>/rooms/<%= @room.id %>">
    <input type="hidden" name="_method" value="patch">
    <input type ="number" name = "length" placeholder="length in inches" value="<%= @room.length %>" required> x 

    <input type ="number" name = "width" placeholder="width in inches" value="<%= @room.width %>" required> x 

    <input type ="number" name = "height" placeholder="height in inches" value="<%= @room.height %>" required>

    <input type="hidden" name = "job_id" value="<%= @job.id %>">

    <input type="submit" name="submit" value="Submit">
</form>
<form method="get" action="/jobs/<%= @job.id %>">
    <input type="submit" name="submit" value="View Job">
</form>
</div>